.texto-blanco {
    color: white !important;
}

body {
    background-color: rgba(214, 102, 120, 0.459);
    color:white;
}
.rounded-circle {
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
}
